{:schema-version 1
 :generated-at "2026-08-31T06:35:53Z"
 :provider {:id :deepseek
            :name "DeepSeek"
            :env-vars ["DEEPSEEK_API_KEY"]
            :default-model "deepseek-v4-pro"}
 :models
 {:openai-completions
  {"deepseek-v4-flash"
   {:id "deepseek-v4-flash"
    :name "DeepSeek V4 Flash"
    :provider :deepseek
    :api :openai-completions
    :base-url "https://api.deepseek.com"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil}
    :input [:text]
    :cost {:input 0.14 :output 0.28 :cache-read 0.0028 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :requires-reasoning-content-on-assistant-messages true
             :thinking-format :deepseek
             :max-tokens-field :max-tokens}}
   "deepseek-v4-pro"
   {:id "deepseek-v4-pro"
    :name "DeepSeek V4 Pro"
    :provider :deepseek
    :api :openai-completions
    :base-url "https://api.deepseek.com"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil}
    :input [:text]
    :cost {:input 0.435 :output 0.87 :cache-read 0.003625 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :requires-reasoning-content-on-assistant-messages true
             :thinking-format :deepseek
             :max-tokens-field :max-tokens}}}}}
