{:schema-version 1
 :generated-at "2026-09-06T20:10:23Z"
 :provider {:id :moonshotai
            :name "Moonshot AI"
            :env-vars ["MOONSHOT_API_KEY"]
            :default-model "kimi-k2.6"}
 :models
 {:openai-completions
  {"kimi-k2.6"
   {:id "kimi-k2.6"
    :name "Kimi K2.6"
    :provider :moonshotai
    :api :openai-completions
    :base-url "https://api.moonshot.ai/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0.95 :output 4 :cache-read 0.16 :cache-write 0}
    :context-window 262144
    :max-tokens 262144
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :deepseek
             :max-tokens-field :max-tokens
             :supports-strict-mode false}}
   "kimi-k2.7-code"
   {:id "kimi-k2.7-code"
    :name "Kimi K2.7 Code"
    :provider :moonshotai
    :api :openai-completions
    :base-url "https://api.moonshot.ai/v1"
    :reasoning true
    :thinking-level-map {:off nil}
    :input [:text :image]
    :cost {:input 0.95 :output 4 :cache-read 0.19 :cache-write 0}
    :context-window 262144
    :max-tokens 262144
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :deepseek
             :max-tokens-field :max-tokens
             :supports-strict-mode false}}
   "kimi-k2.7-code-highspeed"
   {:id "kimi-k2.7-code-highspeed"
    :name "Kimi K2.7 Code HighSpeed"
    :provider :moonshotai
    :api :openai-completions
    :base-url "https://api.moonshot.ai/v1"
    :reasoning true
    :thinking-level-map {:off nil}
    :input [:text :image]
    :cost {:input 1.9 :output 8 :cache-read 0.38 :cache-write 0}
    :context-window 262144
    :max-tokens 262144
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :deepseek
             :max-tokens-field :max-tokens
             :supports-strict-mode false}}
   "kimi-k3"
   {:id "kimi-k3"
    :name "Kimi K3"
    :provider :moonshotai
    :api :openai-completions
    :base-url "https://api.moonshot.ai/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low "low"
                         :max "max"
                         :medium nil
                         :minimal nil
                         :off nil
                         :xhigh nil}
    :input [:text :image]
    :cost {:input 3 :output 15 :cache-read 0.3 :cache-write 0}
    :context-window 1048576
    :max-tokens 131072
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :requires-reasoning-content-on-assistant-messages true
             :thinking-format :openai
             :max-tokens-field :max-tokens
             :supports-strict-mode false
             :deferred-tools-mode :kimi}}}}}
