{:schema-version 1
 :generated-at "2026-08-22T07:16:35Z"
 :provider {:id :qwen-token-plan
            :name "Qwen Token Plan"
            :env-vars ["QWEN_TOKEN_PLAN_API_KEY"]
            :default-model "qwen3.7-max"}
 :models
 {:openai-completions
  {"MiniMax-M2.5"
   {:id "MiniMax-M2.5"
    :name "MiniMax-M2.5"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 196608
    :max-tokens 32768
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "deepseek-v3.2"
   {:id "deepseek-v3.2"
    :name "DeepSeek V3.2"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 131072
    :max-tokens 65536
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "deepseek-v4-flash"
   {:id "deepseek-v4-flash"
    :name "DeepSeek V4 Flash"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "deepseek-v4-flash-0731"
   {:id "deepseek-v4-flash-0731"
    :name "DeepSeek V4 Flash 0731"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "deepseek-v4-pro"
   {:id "deepseek-v4-pro"
    :name "DeepSeek V4 Pro"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "deepseek-v4-pro-0813"
   {:id "deepseek-v4-pro-0813"
    :name "DeepSeek V4 Pro 0813"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 384000
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "glm-5"
   {:id "glm-5"
    :name "GLM-5"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 202752
    :max-tokens 16384
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "glm-5.1"
   {:id "glm-5.1"
    :name "GLM-5.1"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 202752
    :max-tokens 128000
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "glm-5.2"
   {:id "glm-5.2"
    :name "GLM-5.2"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low nil
                         :max "max"
                         :medium nil
                         :minimal nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 131072
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}
   "kimi-k2.5"
   {:id "kimi-k2.5"
    :name "Kimi K2.5"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 262144
    :max-tokens 98304
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "kimi-k2.6"
   {:id "kimi-k2.6"
    :name "Kimi K2.6"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 262144
    :max-tokens 262144
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "kimi-k2.7-code"
   {:id "kimi-k2.7-code"
    :name "Kimi K2.7 Code"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 262144
    :max-tokens 262144
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "qwen3.6-flash"
   {:id "qwen3.6-flash"
    :name "Qwen3.6 Flash"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 65536
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "qwen3.6-plus"
   {:id "qwen3.6-plus"
    :name "Qwen3.6 Plus"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 65536
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "qwen3.7-max"
   {:id "qwen3.7-max"
    :name "Qwen3.7 Max"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 131072
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "qwen3.7-plus"
   {:id "qwen3.7-plus"
    :name "Qwen3.7 Plus"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 65536
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort false
             :thinking-format :qwen}}
   "qwen3.8-max"
   {:id "qwen3.8-max"
    :name "Qwen3.8 Max"
    :provider :qwen-token-plan
    :api :openai-completions
    :base-url "https://token-plan.ap-southeast-1.maas.aliyuncs.com/compatible-mode/v1"
    :reasoning true
    :thinking-level-map {:high nil
                         :low "low"
                         :max nil
                         :medium "medium"
                         :minimal nil
                         :xhigh "xhigh"}
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1000000
    :max-tokens 131072
    :compat {:supports-store false
             :supports-developer-role false
             :supports-reasoning-effort true
             :thinking-format :qwen}}}}}
