{:schema-version 1
 :generated-at "2026-08-17T07:16:16Z"
 :provider {:id :xiaomi-token-plan-ams
            :name "Xiaomi MiMo Token Plan (AMS)"
            :env-vars ["XIAOMI_TOKEN_PLAN_AMS_API_KEY"]
            :default-model "mimo-v2.5-pro"}
 :models
 {:openai-completions
  {"mimo-v2-pro"
   {:id "mimo-v2-pro"
    :name "MiMo-V2-Pro"
    :provider :xiaomi-token-plan-ams
    :api :openai-completions
    :base-url "https://token-plan-ams.xiaomimimo.com/v1"
    :reasoning true
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1048576
    :max-tokens 131072
    :compat {:requires-reasoning-content-on-assistant-messages true
             :thinking-format :deepseek}}
   "mimo-v2.5"
   {:id "mimo-v2.5"
    :name "MiMo-V2.5"
    :provider :xiaomi-token-plan-ams
    :api :openai-completions
    :base-url "https://token-plan-ams.xiaomimimo.com/v1"
    :reasoning true
    :input [:text :image]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1048576
    :max-tokens 131072
    :compat {:requires-reasoning-content-on-assistant-messages true
             :thinking-format :deepseek}}
   "mimo-v2.5-pro"
   {:id "mimo-v2.5-pro"
    :name "MiMo-V2.5-Pro"
    :provider :xiaomi-token-plan-ams
    :api :openai-completions
    :base-url "https://token-plan-ams.xiaomimimo.com/v1"
    :reasoning true
    :input [:text]
    :cost {:input 0 :output 0 :cache-read 0 :cache-write 0}
    :context-window 1048576
    :max-tokens 131072
    :compat {:requires-reasoning-content-on-assistant-messages true
             :thinking-format :deepseek}}}}}
