{:text nil
 :accent "cyan"
 :muted "bright-black"
 :dim "dim"
 :success "green"
 :error "red"
 :warning "yellow"
 :border "bright-black"
 :border-accent "cyan"
 :border-muted "black"
 :user-bg nil
 :assistant-bg nil
 :tool-title "yellow"
 :tool-output nil
 :md-heading "bold"
 :md-link "cyan"
 :md-code "green"
 :md-block "bright-black"
 :selected-bg "bright-black"
 :thinking-levels [240 245 250 255]}
