{:text nil
 :accent "blue"
 :muted "bright-black"
 :dim "dim"
 :success "green"
 :error "red"
 :warning "yellow"
 :border "bright-black"
 :border-accent "blue"
 :border-muted "bright-white"
 :user-bg nil
 :assistant-bg nil
 :tool-title "magenta"
 :tool-output nil
 :md-heading "bold"
 :md-link "blue"
 :md-code "green"
 :md-block "bright-black"
 :selected-bg "bright-white"
 :thinking-levels [250 245 240 235]}
