{:paths ["src" "test" "../../src"]
 :deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"
                                 :exclusions [rewrite-clj/rewrite-clj]}}
 :tasks
 {test {:doc "Run clojure extension tests"
        :task (let [nss (or (seq *command-line-args*)
                            '[edit-util-test edit-tool-test sexp-tool-test])]
                (doseq [ns-sym nss]
                  (require ns-sym))
                (let [summary (apply clojure.test/run-tests nss)]
                  (when (pos? (+ (:fail summary) (:error summary)))
                    (System/exit 1))))}}}
