{:schema-version 1
 :generated-at "2026-08-13T14:42:02Z"
 :provider {:id :cerebras
            :name "Cerebras"
            :env-vars ["CEREBRAS_API_KEY"]
            :default-model "zai-glm-4.7"}
 :models
 {:openai-completions
  {"gemma-4-31b"
   {:id "gemma-4-31b"
    :name "Gemma 4 31B IT"
    :provider :cerebras
    :api :openai-completions
    :base-url "https://api.cerebras.ai/v1"
    :reasoning true
    :thinking-level-map {:high "HIGH"
                         :low nil
                         :max nil
                         :medium nil
                         :minimal "MINIMAL"
                         :off nil
                         :xhigh nil}
    :input [:text :image]
    :cost {:input 0.99 :output 1.49 :cache-read 0 :cache-write 0}
    :context-window 131072
    :max-tokens 40960
    :compat {:supports-store false
             :supports-developer-role false
             :max-tokens-field :max-tokens}}
   "gpt-oss-120b"
   {:id "gpt-oss-120b"
    :name "GPT OSS 120B"
    :provider :cerebras
    :api :openai-completions
    :base-url "https://api.cerebras.ai/v1"
    :reasoning true
    :thinking-level-map {:high "high"
                         :low "low"
                         :max nil
                         :medium "medium"
                         :minimal nil
                         :off nil
                         :xhigh nil}
    :input [:text]
    :cost {:input 0.35 :output 0.75 :cache-read 0 :cache-write 0}
    :context-window 131072
    :max-tokens 40960
    :compat {:supports-store false
             :supports-developer-role false
             :max-tokens-field :max-tokens}}
   "zai-glm-4.7"
   {:id "zai-glm-4.7"
    :name "Z.AI GLM-4.7"
    :provider :cerebras
    :api :openai-completions
    :base-url "https://api.cerebras.ai/v1"
    :reasoning true
    :thinking-level-map {:high nil
                         :low nil
                         :max nil
                         :medium nil
                         :minimal nil
                         :off "none"
                         :xhigh nil}
    :input [:text]
    :cost {:input 2.25 :output 2.75 :cache-read 2.25 :cache-write 0}
    :context-window 131072
    :max-tokens 40960
    :compat {:supports-store false
             :supports-developer-role false
             :max-tokens-field :max-tokens}}}}}
